html,
body {
	height: 100%;
	font-size: 17px;
	font-weight: 200;
	font-family: Verdana,san-serif;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
#footer {
	height: 60px;
	background-color: #303030;
	font-size: 14px;
}
#footer .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.post-content .title,.post-content .meta-data-post{
	text-align: center;
}
.navbar{
	border-radius: 0;
	background-color: #303030;
}
.navbar-brand{
	font-size: 25px;
}
.vert-separator{
	border-left: solid 1px rgba(255,255,255,.3);
	margin: 0 4px;
}
.excerpt{
	margin-top: 7px;
	font-size: 14px;
	padding-bottom: 30px;
}
.post-excerpt .meta-data-post{
	margin: 10px 0;
}
a.title{
	font-family: Verdana;
	font-weight: 300;
	font-size: 40px;
	color: #ffffff;
}
p.title{
	font-family: Verdana;
	font-weight: 300;
	font-size: 40px;
}
a.title:focus,a.title:hover{
	color: #ccc;
	text-decoration: none;
}
.introduction{
	margin-top: 40px;
	font-style: italic;
}
.content{
}
.meta-data-post{
	font-style: italic;
	color: #bbb;
	font-family: "Times New Roman",serif;
	margin: 45px 0;
}
.toc{
	margin-top: 30px;
}
pre{
	padding: 0;
	border: none;
	border-radius: 0;
}
.dropdown-menu,.popover,.list-group,.navbar{
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
code,kbd,pre,samp {
	font-family: Consolas, monospace;
	font-size: 14px;
	background-color: transparent;
}
pre,kbd,samp{
	-webkit-box-shadow: 0 0 12px #000;
	-ms-box-shadow: 0 0 12px #000;
	-moz-box-shadow: 0 0 12px #000;
	box-shadow: 0 0 12px #000;
	border: solid 1px rgba(0,0,0,.8);
}
pre{
	border-radius: 0;
}
::-webkit-scrollbar-button {
	display: none;
	width: 0;
	height: 0;
}
::-webkit-scrollbar-track {
	background-color: rgba(220,220,220,0.1);
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.6);
}