---
layout: barebones
---
		<div class="row" desc="This is a post">
			<div class="col-xs-12 col-lg-1"></div>
			<div class="col-xs-12 col-lg-10 post">
				<div class="row post-content">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p class="title">{{ page.title | upcase }}</p>
						<div class="meta-data-post">
							<span class="time">{{ page.date | date: "%A, %b %d, %Y" }}</span><span class="vert-separator"></span><span class="author">{% assign author = site.data.authors[page.author] %}{{ author.fullname }}</span>
						</div>
						{{ content }}
					</div>
				</div>

				<div class="row" desc="Categories and tags section">
					{% assign post = page %}
					{% if post.categories.size > 0 or post.tags.size > 0 %}
						{% if post.categories.size > 0 %}
							{% capture _cates %}in {% for category in post.categories %}<a href="/categories/{{category}}" class="label {% cycle 'g1': 'label-success', 'label-primary', 'label-danger'%}">{{ category | capitalize }}</a>{% if category != post.categories.last %}, {% endif %}{% endfor %}{% endcapture %}
						{% endif %}
						{% if post.tags.size > 0 %}
							{% capture _tags %}with {% for tag in post.tags %}<a href="/tags/{{tag}}" class="tag">{{ tag | capitalize }}</a>{% if tag != post.tags.last %}, {% endif %}{% endfor %}{% endcapture %}
						{% endif %}
					{% endif %}
					<div class="col-xs-12 col-lg-12">
						<hr />
						<p class="cats-tags">
							Posted {{ _cates }} {{ _tags }}.
						</p>
					</div>
				</div>
				{% if page.previous or page.next %}
				<div class="row">
					<div class="col-xs-12 col-lg-12">
						<nav>
							<ul class="pager">
							{% if page.previous %}
								<li><a href="{{ page.previous }}">Previous</a></li>
							{% endif %}
							{% if page.next %}
								<li><a href="{{ page.next }}">Next</a></li>
							{% endif %}
							</ul>
						</nav>
					</div>
				</div>
				{% endif %}

				<div class="row post-comments">
					{{ include disqus-comment.html }}
				</div>
			</div>
			<div class="col-xs-12 col-lg-1"></div>
		</div>